<!DOCTYPE html>
<html>
<head>
<meta name="viewport" content="width=device-width, initial-scale=1">
<style>
* {
  box-sizing: border-box;
}

input[type=text], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
input[type=number], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}
input[type=float], select, textarea {
  width: 100%;
  padding: 12px;
  border: 1px solid #ccc;
  border-radius: 4px;
  resize: vertical;
}

label {
  padding: 12px 12px 12px 0;
  display: inline-block;
}

input[type=submit] {
  background-color: #04AA6D;
  color: rgb(0, 0, 0);
  padding: 12px 20px;
  position: left;
  border: none;
  border-radius: 4px;
  cursor: pointer;
  float: right;
}

input[type=submit]:hover {
  background-color: #0000ea;
}

.container {
  border-radius: 5px;
  background-color: #7a4242;
  padding: 20px;
}

.result {
  position: relative;
  padding-left: 40%;
  font-family: cursive;

}

.col-25 {
  float: left;
  width: 25%;
  margin-top: 6px;
}

.col-75 {
  float: left;
  width: 75%;
  margin-top: 6px;
}

/* Clear floats after the columns */
.row:after {
  content: "";
  display: table;
  clear: both;
}

/* Responsive layout - when the screen is less than 600px wide, make the two columns stack on top of each other instead of next to each other */
@media screen and (max-width: 600px) {
  .col-25, .col-75, input[type=submit] {
    width: 100%;
    margin-top: 0;
  }
}
</style>
</head>
<body>

<h2 class="result">Taxi Fare Prediction</h2><br><hr><hr>
<div class="container">
  <form action="{{ url_for('predict')}}"method="post">
    <div class="row">
      <div class="col-25">
        <label for="symbol">From</label>
      </div>
      <div class="col-75">
        <input type="text" id="symbol" name="from">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="n_losses">To</label>
      </div>
      <div class="col-75">
        <input type="text" id="n_losses" name="to" >
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="f_type">Km</label>
      </div>
      <div class="col-75">
        <input type="number" id="f_type" name="km">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="aspiration">Fuel Price</label>
      </div>
      <div class="col-75">
        <input type="float" id="aspiration" name="fuel_price">
      </div>
    </div>
    <div class="row">
      <div class="col-25">
        <label for="num-of-doors">Fuel Consumption</label>
      </div>
      <div class="col-75">
        <input type="float" id="num-of-doors" name="fuel_consumption">
      </div>
    </div>
    <br>
    <div class="row">
      <input type="submit" value="Submit">
    </div>
    <div class="result">
      <h2>{{ predicted_price }}</h2>
    </div>
  </form>
</div>

</body>
</html>
